@model IEnumerable<Order> 
@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>List</title>
</head>
<body>
    <!-- Unshipped orders view -->
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Country</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Gift wrap</th>
                <th colspan="2">Details</th>
            </tr> @foreach (Order o in Model)
            {
                <tr>
                    <td>@o.FirstName</td>
                    <td>@o.LastName</td>
                    <td>@o.Country</td>
                    <td>@o.City</td>
                    <td>@o.State</td>
                    <td>@o.Zip</td>
                    <td>@o.GiftWrap.ToString()</td>
                    <th>Product</th>
                    <th>Quantity</th>
                    <!-- Shipp button  -->
                    <td>
                        <form asp-action="MarkAsShipped" method="post">
                            <input type="hidden" name="orderID" value="@o.OrderID" />
                            <button type="submit" class="btn btn-sm btn-danger">Ship</button>
                        </form>
                    </td>
                </tr>
                <!-- Unshipped product/s name and quantitiy view -->
                @foreach (CartLine line in o.Lines)
                {
                    <tr>
                        <td colspan="7"></td>
                        <td>@line.Product.Name</td>
                        <td>@line.Quantity</td>
                    </tr>
                }
            }
        </table>
        <!-- Return to home page button -->
        <a asp-action="List" asp-controller="Product"
           class="btn btn-success">Return to home page</a>
    }
    else
    {
        <div class="text-center">No Unshiped Orders.</div>
    }
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>